.git
.gitignore
.gitattributes
.editorconfig
.env
.env.example
.env.docker
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
README.md
docker-compose.yml
Dockerfile
.dockerignore
tests
.vscode
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
